<% @flag = "NO" %>
<% @flag2 = "NO" %>
<style>
	tr:nth-child(even) {
		background-color: #d3dcef;
	}
#header2{
	padding-bottom: 0px !important;
}
.salePageTable{
  content: "";
  display: block;
  height: 15px;
}

/*table::after
{
  content: "";
  display: block;
  height: 100px;
}
*/
</style>
<% @concludedSales = Array.new [] %>				
<div align="center" style="min-height:800px; width:100%;display:block;overflow:auto;">
<% @farm = Farm.find_by_id(params[:id]) %>
<div align="center">
	<div align="center"  class="flex-item-1c" id="farmWidth">
<!--- id salesPage makes a funky looking box for the sale info. disbanded 2019. 
<div id="salesPage"></div>
-->		<h1 style="font-size: 30px !important; font-weight: 800"><%= @farm.name %></h1>
		<h4 style="font-size: 15px !important;"  id="farmWidth2">
		<% if @farm.phonenumber != "" %>			
		<%= @farm.phonenumber %><br>
		<% end %>
		<% if @farm.address != "" %>					
		<%= @farm.address %><br>
		<% end %>	
		<% if @farm.city != "" %>				
		<%= @farm.city %>, 	<%= @farm.state %>
		<% end %>
		<%if @farm.zipcode != "" %>
		, <%= @farm.zipcode %><br>
		<% end %>
		<% if @farm.email != "" %>
		<span class="linkColor" style="color:white">
		<%= mail_to @farm.email %><br>
		<span>
		<% end %>		
		<% if @farm.website != "" %>
		<span class="linkColor" style="color:black">
		<%=  link_to @farm.website, "http://#{@farm.website}", target: '_blank' %><br>
		<span>
		<% end %>
		</h4>	
</div>

<div style="padding-bottom: 5%;"></div>
<script>
	jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>


<script>var recursionFlag = false;
$('table').tablesorter();
$("table").bind("sortEnd",function(e, table) {
    if (!recursionFlag) {
        recursionFlag = true;
        $('table').not(this).trigger("sorton", [ table.config.sortList ]);
        setTimeout(function(){ recursionFlag = false; }, 1000);
    }
});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104901712-1', 'auto');
  ga('send', 'pageview');

</script>