<style>
	.hideMessage{
	display: none;
	}
	.flex-container-siteLogo{
	display: none !important;
	}

	img:hover{
	opacity: 1;
	}

	a:link{
	text-decoration: none;
	}
	.accountCSS {
	font-size: 10px !important;
	color: white !important;
	}
	ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
</style>
<% if !@current_user.farm.nil? %>
<% @farm = Farm.find_by(id: @current_user.farm) %>
<% @concludedSales = Array.new [] %>
<div style="background-color: #154786;position: absolute; top: 0px;width: 100%;height: 4%"></div>
<div style="background: linear-gradient(#D1D1D1, #B8B8B8 ) !important;position: absolute;top: 2%; width: 100%; height: 8%">
	<h4 class="texty"><span class="dashboardButtonLink"><a href="#" id="edit_horse" style="color: white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></span><span class="dashboardButtonLink"><a href="#" id="add" style="color: white">&nbsp;Add a Horse&nbsp;</a></span><span class="dashboardButtonLink"><a href="#" id="edit_farm" style="color: white">Edit Your Farm</a></span><span class="dashboardButtonLink"><a href="#" id="stats" style="color: white">&nbsp;&nbsp;Views&nbsp;&nbsp;</a></span></h4>
</div>
<div class="account" style="margin: 0 auto;">
	<div class="accountLeft">
		<img src="/DashboardPhoto.jpg"img-responsive">

		<h2>Manage Your Account</h2>
		<!-- <%= button_to 'Go to Farm Page', farm_path(@farm.id),  {:style=>'color:white !important;font-size: 18px;line-height: .7em;text-decoration:none', :method => :get}  %><br> --></br>
		<h3>Welcome, <%= @farm.name %>!</h3>
		<!-- <h4><%= current_user.id %></h4> -->
		<% if !@farm.nil? %>
		<div style="font-size: 20px">
		<%= @farm.address %><br>
		<%= @farm.city %>, <%= @farm.state %>, <%= @farm.zipcode %><br>
		<%= @farm.phonenumber %><br>
		<%= @farm.website %>
		<br><br>
		<!--   <% if current_user.role == "cp" %>
		<p style="font-size: 12pt;"><b>Additional Tools:</b></p>
		<span style="font-size:12pt" ><a href="#" id="addSire">Add a Sire </a>|  <a href="http://localhost:3000/users/edit" id="addFarm">Add a Farm</a> | <a href="http://localhost:3000/users/edit" id="addSale">Add a Sale</a></span>
		<% end %>
		-->
		<% end %>

		</div>
		</div>
		<!-- -->

		<div class="accountRight" style="margin-bottom: 25px;height: 100%;">
		<div id="mainContainer">
		<div style="width: 80%;border-bottom: 30px solid white;margin-bottom: -25px; height: 100%">
		<% if flash[:notice] %>
		<div align="center" style="color:red; font-size:1em">
		<%= flash[:notice] %>
		</div>
		<% end %>
		<% @salesArray = Array.new [] %>
		<% @horses = Horse.where(:farm => @farm.id).all %>
		<% @horses2 = Horse.where(:farm2 => @farm.id).all %>
		<% @sales = Sale.order(StartDate: :asc) %>
		<% @sales.each do |s| %>
		<% @horses.each do |h| %>
		<% if s.id.to_s == h.Sale %>
		<% @salesArray.push s.id %>
		<% end %>
		<% end %>
		<% @horses2.each do |h2| %>
		<% if s.id.to_s == h2.Sale %>
		<% @salesArray.push s.id %>
		<% end %>
		<% end %>
		<% end %>
		</div>

		<div align="center">
		<div id="farmWidth2" style="margin-top: 0px !important; height: 100%">
		<% @uniqueSale = @salesArray.uniq %>
		<% @uniqueSale.each do |sale| %>
		<% @saleDetails = Sale.find(sale) %>
		<% if @saleDetails.StartDate >= Date.today %>
		<h1 align="center" id="hoverLink" style="font-size: 16px !important; margin-top: 25px">
		<%= link_to @saleDetails.Name,sale_path(sale) %>&nbsp;
		<span id="hideThis">
		<%= link_to image_tag("/YV.jpg"), farm_path(@farm, format: "pdf", :e => @saleDetails.id) %></span>
		<h4 style="text-align: center; color: black; font-size: 18px !important;background-color: white !important"><%= @saleDetails.StartDate.strftime("%B %-d, %Y") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</h4><br>
		<div align="left" style="text-align: left;font-size:19px;background-color: white">
		</div>
		<table style="background-color: #E1DDD4"  class="tableStyle_user" id="salePageTable">
		<thead style="border-bottom: solid 1px black">
		<th>&nbsp;</th>
		<th>Hip #</th>
		<th>Name</th>
		</thead>
		<tbody>
		<% @horses = Horse.all %>
		<% @horses = @horses.sort_by{|a| a.HipNumber.to_i } %>
		<% @horses.each do |horse| %>
		<% @horse = horse %>
		<tr>
		<td><%= link_to "Edit Horse", edit_horse_path(:id => horse.id) %></a></td>
		<td><%= horse.HipNumber %></td>
		<td><%= horse.Name %></td>
		<td><%= link_to "View Online", horse_path(:id => horse.id)%></td>
		</tr>
		<% end %>
		</tbody>
		</table>

		<% else %>
		<% @concludedSales.push @saleDetails.id %>
		<% end %>
		<% end %>
		</div>
		</div>
		</div>
		<div id="mainContainer2"  style="display:none">
		<h2 style="text-align: center;">EDIT YOUR FARM INFORMATION</h2>
		<%= form_for (@farm)  do |f| %>
		<div style="display: block; text-align: left; padding-left: 20%; width: 100%;font-size: 216x;">
		<%= f.label :name %>: <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<span style="padding-left: 25px; font-size: 20pt"><%= f.text_field :name, :size => 45  %></span><br>
		<%= f.label :address %>:<span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<span style="padding-left: 25px; font-size: 20pt"><%= f.text_field :address, :size => 45  %></span><br>
		<%= f.label :city %>:<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<span style="padding-left: 25px; font-size: 20pt"><%= f.text_field :city, :size => 45  %></span><br>
		<%= f.label :state %>:<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<span style="padding-left: 25px; font-size: 20pt"><%= f.text_field :state, :size => 45  %></span><br>
		<%= f.label :zipcode %>:<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<span style="padding-left: 25px; font-size: 20pt"><%= f.text_field :zipcode, :size => 45  %></span><br>
		<%= f.label :phonenumber, "Phone Number:" %>
		<span style="padding-left: 25px; font-size: 20pt"><%= f.text_field :phonenumber, :size => 45  %></span><br>
		<%= f.label :website %>:<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<span style="padding-left: 25px; font-size: 20pt"><%= f.text_field :website, :size => 45 %></span><br>
		<%= f.label :email %>:<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<span style="padding-left: 25px; font-size: 20pt"><%= f.text_field :email, :size => 45  %>
		<%= f.hidden_field :FarmCode %><%= f.hidden_field :FarmCode, :size => 45  %><br>
		</div>
		<h2 style="text-align: center;"><%= f.submit "Save changes" %></h2>
		<% end %>
		</div>


		<div id="mainContainer4" style="display:none;">
		<h2 style="text-align: center;">ADD A HORSE</h2>

		<%= form_for Horse.new, :html => {:multipart => true} do |f| %>
		<br>
		<div style="display: block; text-align: left; width: 50%; padding-left: 10%; float: left;font-size: 14px;">
		<%= f.label :Name %>
		<br>
		<%= f.text_field :Name, :size=>"30" %><br><br>
		<%= f.label :HipNumber, "Hip Number" %>
		<br>
		<%= f.text_field :HipNumber, :size=>"30"  %><br><br>
		<%= f.label :Gender %>
		<br>
		<%= f.select :Gender, [['Colt','colt'],['Filly','filly'],['Gelding','gelding']],  {:style => "width:30px"} %><br><br>
		<%= f.label :Sale %>
		<br>
		<%= f.collection_select :Sale, Sale.order(:Name),:id,:Name, include_blank: true %> <br><br>
		<%= f.label :sire %>
		<br>
		<%= f.collection_select :sire, Sire.order(:Name),:id,:Name, include_blank: true %> <br><br>
		<%= f.hidden_field :farm %>
		<%= f.hidden_field :farm, :value => @current_user.farm %>
		<%= f.hidden_field :farm2 %>
		<%= f.hidden_field :farm2 %>
		<%= f.submit "Add Horse"  %>
		</div>
		<div style="display: block; text-align: left; width: 50%;float: right;font-size: 14px;padding-left: 5%;">
		<%= f.label :Description %>
		<br>
		<%= f.text_area :Description, :cols => "60", :rows => "25" %><br><br>

		<%= f.label :video %>
		<br>
		<%= f.file_field :video %>
		<br>
		<%= f.hidden_field :BulkUploadVideoName %>
		</div>
		<% end %>
		</div>

		<div id="mainContainer5" style="display:none">
		<h2>ADD A SIRE</h2>
		<div style="text-align: left">
		<div>
		<%= form_for Sire.new, :html => {:multipart => true} do |f| %>
		<br>
		<div style="display: block; text-align: left; width: 50%;float: left;font-size: 18px;">
		<%= f.label :Name %>
		<br>
		<%= f.text_field :Name %>
		<br>
		<%= f.label :gait, "Gait" %>
		<br>
		<%= f.select :gait, [['Pace','pace'],['Trot','trot']] %>
		<br>
		<%= f.label :eligibility %>
		<br>
		<%= f.select :eligibility, [['Ohio','Ohio'],['Pennsylvania','Pennsylvania']] %>
		<br>
		<%= f.submit "Add Sire"  %>
	</div>
</div>
<% end %>
</div>
</div>

<div id="mainContainer6" style="display:none">
	Add a Farm
</div>

<div id="mainContainer7" style="display:none">
	Add a Sale
</div>
<% else %>
<div>
	You are not allowed to view this page.
</div>
<% end %>
<script>
	$(function() {
		$('a#edit_horse').click(function(event) {
			event.preventDefault();
			$('div#mainContainer').show();
			$('div#mainContainer1').hide();
			$('div#mainContainer2').hide();
			$('div#mainContainer3').hide();
			$('div#mainContainer4').hide();
			$('div#mainContainer5').hide();
			$('div#mainContainer6').hide();
			$('div#mainContainer7').hide();

		});
	}); 
</script>
<script>
	$(function() {
		$('a#edit_horse2').click(function(event) {
			event.preventDefault();
			$('div#mainContainer').hide();
			$('div#mainContainer1').show();
			$('div#mainContainer2').hide();
			$('div#mainContainer3').hide();
			$('div#mainContainer4').hide();
			$('div#mainContainer5').hide();
			$('div#mainContainer6').hide();
			$('div#mainContainer7').hide();

		});
	}); 
</script>
<script>
	$(function() {
		$('a#edit_farm').click(function(event) {
			event.preventDefault();
			$('div#mainContainer').hide();
			$('div#mainContainer1').hide();
			$('div#mainContainer2').show();
			$('div#mainContainer3').hide();
			$('div#mainContainer4').hide();
			$('div#mainContainer5').hide();
			$('div#mainContainer6').hide();
			$('div#mainContainer7').hide();

		});
	}); 
</script>
<script>
	$(function() {
		$('a#edit_farm').click(function(event) {
			event.preventDefault();
			$('div#mainContainer').hide();
			$('div#mainContainer1').hide();
			$('div#mainContainer2').show();
			$('div#mainContainer3').hide();
			$('div#mainContainer4').hide();
			$('div#mainContainer5').hide();
			$('div#mainContainer6').hide();
			$('div#mainContainer7').hide();

		});
	}); 
</script>
<script>
	$(function() {
		$('a#stats').click(function(event) {
			event.preventDefault();
			$('div#mainContainer').hide();
			$('div#mainContainer1').hide();
			$('div#mainContainer2').hide();
			$('div#mainContainer3').show();
			$('div#mainContainer4').hide();
			$('div#mainContainer5').hide();
			$('div#mainContainer6').hide();
			$('div#mainContainer7').hide();

		});
	}); 
</script>
<script>
	$(function() {
		$('a#add').click(function(event) {
			event.preventDefault();
			$('div#mainContainer').hide();
			$('div#mainContainer1').hide();
			$('div#mainContainer2').hide();
			$('div#mainContainer3').hide();
			$('div#mainContainer4').show();
			$('div#mainContainer5').hide();
			$('div#mainContainer6').hide();
			$('div#mainContainer7').hide();

		});
	}); 
</script>
<script>
	$(function() {
		$('a#addSire').click(function(event) {
			event.preventDefault();
			$('div#mainContainer').hide();
			$('div#mainContainer1').hide();
			$('div#mainContainer2').hide();
			$('div#mainContainer3').hide();
			$('div#mainContainer4').hide();
			$('div#mainContainer5').show();
			$('div#mainContainer6').hide();
			$('div#mainContainer7').hide();
		});
	}); 
</script>
<script>
	$(function() {
		$('a#addFarm').click(function(event) {
			event.preventDefault();
			$('div#mainContainer').hide();
			$('div#mainContainer1').hide();
			$('div#mainContainer2').hide();
			$('div#mainContainer3').hide();
			$('div#mainContainer4').hide();
			$('div#mainContainer5').hide();
			$('div#mainContainer6').show();
			$('div#mainContainer7').hide();
		});
	}); 
</script>
<script>
	$(function() {
		$('a#addSale').click(function(event) {
			event.preventDefault();
			$('div#mainContainer').hide();
			$('div#mainContainer1').hide();
			$('div#mainContainer2').hide();
			$('div#mainContainer3').hide();
			$('div#mainContainer4').hide();
			$('div#mainContainer5').hide();
			$('div#mainContainer6').hide();
			$('div#mainContainer7').show();
		});
	}); 
</script>
