<div align="center" style=" min-height:800px; width:100%">
<h2 align="center" style="padding-top:50px;font-size:2em; line-height: 45px; font-family:Merriweather Sans !important ;color:white">Register for New Account</h2>
<br><br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
  	<span style="font-size:1.2em; font-family:Merriweather Sans !important ;color:black">    
    <%= f.label :email %><br /><br /></span>
    <span style="font-size:2.0em; font-family:Merriweather Sans !important ;color:black">
    <%= f.email_field :email, autofocus: true %>
    </span>
  </div><br />

  <div class="field">
  	<span style="font-size:1.2em; font-family:Merriweather Sans !important ;color:black">  	
    <%= f.label :password %></span>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br /><br />
  	<span style="font-size:2.0em; font-family:Merriweather Sans !important ;color:black">    
    <%= f.password_field :password, autocomplete: "off" %></span><br />
  </div><br />

  <div class="field">
  	<span style="font-size:1.2em; font-family:Merriweather Sans !important ;color:black">  	
    <%= f.label :password_confirmation %></span>
    <em>(Re-enter Password)</em><br /><br />
  	<span style="font-size:2.0em; font-family:Merriweather Sans !important ;color:black">    
    <%= f.password_field :password_confirmation, autocomplete: "off" %></span>
  </div><br />

  <div class="actions">
    <%= f.submit "Register Now" %>
  </div>
<% end %>

</div>
