<!-- this file is for the login/create account page that you go to
	when you click on "Account" at the bottom of the page -->
<div style="width: 100%; height: 100%; margin: auto;">
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<div style="width: 40%; height: 100%; margin: auto">
				<h1 style="text-align: center">Account Login</h1><br>
			<div style="height: 100%; margin: auto; margin-left: 25%;">
			    <span style="font-size: 16px;margin-top: 2%"><%= f.label :email %>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			  	<span style="font-size: 25px;"><%= f.email_field :email, autofocus: true,  :size => 30 %></span><br>
			  	<span style="font-size: 16px;"><%= f.label :password %>:&nbsp;&nbsp;</span>
			    <span style="font-size: 25px;"><%= f.password_field :password, autocomplete: "off",  :size => 30, :style => "color: black"  %></span><br>

		  <% if devise_mapping.rememberable? -%>
		      <span style="font-size: 25px;"><%= f.check_box :remember_me %></span>
		      <span style="font-size: 16px;"><%= f.label :remember_me %></span><br>
		  <% end %>		
		</div>			  
	 </div>
		    <h1 style="text-align: center"><%= f.submit "Log in" %></h1>
	<% end %>
</div>
<!-- Registration coding below. -->
<!-- <h1 align="center" style="padding-top:50px;font-size:1.3em; line-height: 25px; font-family:Merriweather Sans !important ;color:white"> -->
<!--	<strong><%#= link_to "Register for a New Account", new_user_registration_path, :class => 'linkFormat' %></span> </strong>
 </h1> -->
