<p id="notice"><%= notice %></p>

<h1>Bulk Adds</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bulk_adds.each do |bulk_add| %>
      <tr>
        <td><%= link_to 'Show', bulk_add %></td>
        <td><%= link_to 'Edit', edit_bulk_add_path(bulk_add) %></td>
        <td><%= link_to 'Destroy', bulk_add, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bulk Add', new_bulk_add_path %>
