<style>
td {
  border: 1px solid black;
}
th {
  border-right: 1px solid black;
    text-align: center;
}
#addH .field input {
  width:20px;
}
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #000000;
  padding: 10px;
}
</style>

<%= form_for Horse.new, :html => {:multipart => true} do |f| %>
<div class = "center">
	<table  style="width:100%">
		<tr>
			<th style="width:10%">Name</th>
			<th style="width:10%">HipNumber</th>
			<th style="width:10%">Gender</th>		
			<th style="width:10%">Description</th>
			<th style="width:10%">Sale</th>		
			<th style="width:10%">PageViews</th>
			<th style="width:10%">Sire</th>
			<th style="width:10%">Farm</th>		
			<th style="width:10%">Farm2</th>		
			<th style="width:10%">BulkUploadVideoName</th>		
		</tr>
	</table>
		<div style="display: block; text-align: left; width: 100%; float: left;font-size: 14px;">
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			
			<!-- <td><%= f.select :Gender, [['Colt','colt'],['Filly','filly'],['Gelding','gelding']],  {:style => "width:30px"} %></td> -->
			<!-- <td><%= f.collection_select :Sale, Sale.order(:Name),:id,:Name, include_blank: true %></td>
			<td><%= f.collection_select :sire, Sire.order(:Name),:id,:Name, include_blank: true %></td> -->
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		</div>
		<div id="addH">
		<tr>
			<td><%= f.text_field :Name %></td>
			<td><%= f.text_field :HipNumber %></td>
			<td><%= f.text_field :Gender  %></td>
			<td><%= f.text_field :Sale  %></td>
			<td><%= f.text_field :sire  %></td>			
			<td><%= f.text_field :sire  %></td>
			<td><%= f.text_field :sire  %></td>
			<td><%= f.text_field :sire  %></td>
			<td><%= f.text_field :sire  %></td>
		</tr>
		</div>
		<div>
		<tr>
			<td><%= f.text_field :Name, :size=>"20" %></td>
			<td><%= f.text_field :HipNumber, :size=>"20"  %></td>
			<td><%= f.text_field :Gender, :size=>"20"  %></td>
			<td><%= f.text_field :Sale, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			
			<!-- <td><%= f.select :Gender, [['Colt','colt'],['Filly','filly'],['Gelding','gelding']],  {:style => "width:30px"} %></td> -->
			<!-- <td><%= f.collection_select :Sale, Sale.order(:Name),:id,:Name, include_blank: true %></td>
			<td><%= f.collection_select :sire, Sire.order(:Name),:id,:Name, include_blank: true %></td> -->
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
		</tr>
		</div>
		<div>
		<tr>
			<td><%= f.text_field :Name, :size=>"20" %></td>
			<td><%= f.text_field :HipNumber, :size=>"20"  %></td>
			<td><%= f.text_field :Gender, :size=>"20"  %></td>
			<td><%= f.text_field :Sale, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			
			<!-- <td><%= f.select :Gender, [['Colt','colt'],['Filly','filly'],['Gelding','gelding']],  {:style => "width:30px"} %></td> -->
			<!-- <td><%= f.collection_select :Sale, Sale.order(:Name),:id,:Name, include_blank: true %></td>
			<td><%= f.collection_select :sire, Sire.order(:Name),:id,:Name, include_blank: true %></td> -->
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
		</tr>
		</div>
		<div>
		<tr>
			<td><%= f.text_field :Name, :size=>"20" %></td>
			<td><%= f.text_field :HipNumber, :size=>"20"  %></td>
			<td><%= f.text_field :Gender, :size=>"20"  %></td>
			<td><%= f.text_field :Sale, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			
			<!-- <td><%= f.select :Gender, [['Colt','colt'],['Filly','filly'],['Gelding','gelding']],  {:style => "width:30px"} %></td> -->
			<!-- <td><%= f.collection_select :Sale, Sale.order(:Name),:id,:Name, include_blank: true %></td>
			<td><%= f.collection_select :sire, Sire.order(:Name),:id,:Name, include_blank: true %></td> -->
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
		</tr>
		</div>
		<div>
		<tr>
			<td><%= f.text_field :Name, :size=>"20" %></td>
			<td><%= f.text_field :HipNumber, :size=>"20"  %></td>
			<td><%= f.text_field :Gender, :size=>"20"  %></td>
			<td><%= f.text_field :Sale, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			
			<!-- <td><%= f.select :Gender, [['Colt','colt'],['Filly','filly'],['Gelding','gelding']],  {:style => "width:30px"} %></td> -->
			<!-- <td><%= f.collection_select :Sale, Sale.order(:Name),:id,:Name, include_blank: true %></td>
			<td><%= f.collection_select :sire, Sire.order(:Name),:id,:Name, include_blank: true %></td> -->
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
		</tr>
		</div>
		<div>
		<tr>
			<td><%= f.text_field :Name, :size=>"20" %></td>
			<td><%= f.text_field :HipNumber, :size=>"20"  %></td>
			<td><%= f.text_field :Gender, :size=>"20"  %></td>
			<td><%= f.text_field :Sale, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			
			<!-- <td><%= f.select :Gender, [['Colt','colt'],['Filly','filly'],['Gelding','gelding']],  {:style => "width:30px"} %></td> -->
			<!-- <td><%= f.collection_select :Sale, Sale.order(:Name),:id,:Name, include_blank: true %></td>
			<td><%= f.collection_select :sire, Sire.order(:Name),:id,:Name, include_blank: true %></td> -->
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
		</tr>
		</div>
		<div>
		<tr>
			<td><%= f.text_field :Name, :size=>"20" %></td>
			<td><%= f.text_field :HipNumber, :size=>"20"  %></td>
			<td><%= f.text_field :Gender, :size=>"20"  %></td>
			<td><%= f.text_field :Sale, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			
			<!-- <td><%= f.select :Gender, [['Colt','colt'],['Filly','filly'],['Gelding','gelding']],  {:style => "width:30px"} %></td> -->
			<!-- <td><%= f.collection_select :Sale, Sale.order(:Name),:id,:Name, include_blank: true %></td>
			<td><%= f.collection_select :sire, Sire.order(:Name),:id,:Name, include_blank: true %></td> -->
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
		</tr>
		</div>
		<div>
		<tr>
			<td><%= f.text_field :Name, :size=>"20" %></td>
			<td><%= f.text_field :HipNumber, :size=>"20"  %></td>
			<td><%= f.text_field :Gender, :size=>"20"  %></td>
			<td><%= f.text_field :Sale, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			
			<!-- <td><%= f.select :Gender, [['Colt','colt'],['Filly','filly'],['Gelding','gelding']],  {:style => "width:30px"} %></td> -->
			<!-- <td><%= f.collection_select :Sale, Sale.order(:Name),:id,:Name, include_blank: true %></td>
			<td><%= f.collection_select :sire, Sire.order(:Name),:id,:Name, include_blank: true %></td> -->
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
		</tr>
		</div>
		<div>
		<tr>
			<td><%= f.text_field :Name, :size=>"20" %></td>
			<td><%= f.text_field :HipNumber, :size=>"20"  %></td>
			<td><%= f.text_field :Gender, :size=>"20"  %></td>
			<td><%= f.text_field :Sale, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			
			<!-- <td><%= f.select :Gender, [['Colt','colt'],['Filly','filly'],['Gelding','gelding']],  {:style => "width:30px"} %></td> -->
			<!-- <td><%= f.collection_select :Sale, Sale.order(:Name),:id,:Name, include_blank: true %></td>
			<td><%= f.collection_select :sire, Sire.order(:Name),:id,:Name, include_blank: true %></td> -->
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
			<td><%= f.text_field :sire, :size=>"20"  %></td>
		</tr>
		</div>
<div style='margin-top: 10px;'>
<%= f.submit "Add Horse"  %>
</div>
</div>
		
<% end %>




