<% if not flash[:notice]== "Verified" %>	

	<%= recaptcha_tags %>

<% else %>		
<!-- 
<style>
table, th, td {
    border: 1px solid black;

}
</style>

<div style="margin-bottom: 8%; background-color: white;">
	
<% @sales = Sale.order(StartDate: :asc) %>
<% @sales.each do |sale| %>
	<% if  sale.EndDate >= Date.today %>
		<div style="width: 40%; margin:0 auto;""align="center">		
		<% @horses = Horse.where(:Sale => sale.id).all %>
		<% if @horses.count > 0 %>
			<% @horses = @horses.sort_by{|a| a.HipNumber.to_i } %>
			<br><table border="1">
			<div align="left">
			<% @saleID=sale.id %>
			<!-- <h2><%= sale.Name %>, <%= sale.StartDate %><%= link_to " Download All Horses in this sale", vectors_path(:saleid => @saleID) %><br></h2> -->
			<h2><%= sale.Name %>, <%= sale.StartDate %></h2>
				<% @horses.each do |horse| %>
					<tr>
						<td width: "30%" style="padding-left: 2%"><%= horse.Name %></td>
						<td width="35%" style="padding-left: 2%"><%= horse.HipNumber %></td>
						<td width="35%" style="padding-left: 2%"><%= link_to "Download video", new_vector_path(:filename => horse.BulkUploadVideoName,:workin => 'random') %></td>
					</tr>
				<% end%>
			</table>
		<% end%>
	</div>
	
	<% end%>
<% end%>
<div style="width: 40%; margin:0 auto;" align="center">		
	<h2>Prior Sales</h2>
</div>
<% @sales = Sale.order(StartDate: :asc) %>
<% @sales.each do |sale| %>
	<% if  sale.EndDate < Date.today %>
		<div style="width: 40%; margin:0 auto;" align="center">		
		<% @horses = Horse.where(:Sale => sale.id).all %>
		<% if @horses.count > 0 %>
			<% @horses = @horses.sort_by{|a| a.HipNumber.to_i } %>
			<br><table border="1">
			<div align="left">
			<% @saleID=sale.id %>
			<h2><%= sale.Name %>, <%= sale.StartDate %><br></h2>
				<% @horses.each do |horse| %>
					<tr>
						<td width: "30%" style="padding-left: 2%"><%= horse.Name %></td>
						<td width="35%" style="padding-left: 2%"><%= horse.HipNumber %></td>
						<td width="35%" style="padding-left: 2%"><%= link_to "Download video", new_vector_path(:filename => horse.BulkUploadVideoName,:workin => 'random') %></td>
					</tr>
				<% end%>
			</table>
		<% end%>
	</div>
	
	<% end%>
<% end%>
</div> -->
<% end %>
